@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&family=Dosis:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&family=Dosis:wght@400;700;800&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&family=Dosis&display=swap'); */

body {
    margin: 0;
    padding: 0;
    font-family: TT Norms W01 Regular, helvetica, sans-serif;
    background-color: #2E5941;
    /* font-family: Carrois Gothic SC; */
    font-family: 'Dosis';
    font-size: 22px;
}

.header {
    background-color: #EBEFE6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container {
    width: 90%;
    margin: auto;
    display: flex;
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.header .container .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.agora {
    font-weight: 800;
}

.cadastroLogin {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    font-weight: bold;
}

.header .container .login {
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .container .cadastro {
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2E5941;
}

.header a {
    text-decoration: none;
    color: black;
}


.filmes .container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 40px;
}

.filmes .container .cima {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.filmes .container .baixo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card {
    width: 240px;
    height: 290px;
    background-color: #D9D9D9;
    padding: 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 600;
    font-weight: 700;
}

.card span {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 10px;
}

.filmes a {
    text-decoration: none;
    color: black;
}
/* 
.banner {
    height: fit-content;
    
    display: flex;
    justify-content: center;
    background-image: URL();
    background-size: cover;

}

.banner .container {
    width: 750px;
    padding-bottom: 200px;
    font-size: 36px;
    display: flex;
    justify-content: center;
}

.banner .container span {

    background-color: white;
    font-weight: bold;
    border: #052c6f solid;
    border-radius: 20px;
    text-align: center;
} */