@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&family=Dosis:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&family=Dosis:wght@400;700;800&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: TT Norms W01 Regular, helvetica, sans-serif;
    background-color: #2E5941;
    /* font-family: Carrois Gothic SC; */
    font-family: 'Dosis';
    font-size: 22px;

}

.base {
    display: flex;
    justify-content: center;
}

.fundo {
    width: 80%;
    height: 700px;
    margin: 45px;
    background-color: #EBEFE6;
    border-radius: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
}

.esquerda {
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

.titulo {
    font-size: 36px;
    font-weight: 700;
}

.centro {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.campo {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 10px;
}

.input {
    width: 380px;
    height: 40px;
    padding-left: 20px;
    background: #FFFFFF;
    border: #EBEFE6;
    border: 1px solid #000000;
    border-radius: 100px;
    font-size: 16px;
}

.botao {
    width: 250px;
    height: 60px;
    margin-top: 40px;
    font-family: 'Dosis';
    font-size: 32px;
    color: #EBEFE6;
    background: #2E5941;
    border: 3px solid #000000;
    border-radius: 50px;

    cursor: pointer;
}

/* .verde

.vermelho */