@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&family=Dosis:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&family=Dosis:wght@400;700;800&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&family=Dosis&display=swap'); */

body {
    margin: 0;
    padding: 0;
    font-family: TT Norms W01 Regular, helvetica, sans-serif;
    background-color: #2E5941;
    /* font-family: Carrois Gothic SC; */
    font-family: 'Dosis';
    font-size: 22px;
}

.header {
    background-color: #EBEFE6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container {
    width: 90%;
    margin: auto;
    display: flex;
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.header .container .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.agora {
    font-weight: 800;
}

.cadastroLogin {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    font-weight: bold;
}

.header .container .login {
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .container .cadastro {
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2E5941;
}

.header a {
    text-decoration: none;
    color: black;
}


.filmes .container {
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 40px;
}

.filmes a {
    text-decoration: none;
    color: black;
}

.linha {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.linha a {
    width: 40%;
}

.card {
    height: 290px;
    background-color: #EBEFE6;
    border-radius: 10px;
    padding: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card .agora {
    font-weight: 700;
}

.capa {
    width: 100%;
    height: 100%;
}

.info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.info span {
    font-style: normal;
    font-size: 18px;
    line-height: 20px;
}

.sinopse {
    text-align: justify;
}