@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&family=Dosis:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&family=Dosis:wght@400;700;800&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&family=Dosis&display=swap'); */

body {
    margin: 0;
    padding: 0;
    font-family: TT Norms W01 Regular, helvetica, sans-serif;
    background-color: #2E5941;
    /* font-family: Carrois Gothic SC; */
    font-family: 'Dosis';
    font-size: 22px;
}

.header {
    background-color: #EBEFE6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container {
    width: 90%;
    margin: auto;
    display: flex;
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.header .container .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.agora {
    font-weight: 800;
}

.cadastroLogin {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    font-weight: bold;
}

.header .container .login {
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .container .cadastro {
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2E5941;
}

.header a {
    text-decoration: none;
    color: black;
}

.filme .container {
    margin-top: 40px;
    margin-bottom: 40px;
    flex-direction: column;
    gap: 35px;
}

.filme a {
    text-decoration: none;
    color: black;
}

.botoes {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.botao {
    background-color: #A01818;
    width: 100px;
    padding: 15px;
    font-family: 'Dosis';
    font-size: 18px;
    color: #EBEFE6;
    border: 3px solid #000000;
    border-radius: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.quadro {
    height: fit-content;
    background-color: #EBEFE6;
    border-radius: 40px;
    box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 55px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.card .agora {
    font-weight: bold;
    font-size: 32px;
}

.info {
    height: 572px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.info span {
    font-style: normal;
    font-size: 20px;
    line-height: 20px;
}

.sinopse {
    width: 80%;
    height: auto;
    word-wrap: normal;
}

.curiosidades {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 55px;
}

.curiosidades .nome {
    margin-bottom: 15px;
}

.curiosidades .agora {
    font-weight: bold;
    font-size: 32px;
}

.linha {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.tamanho {
    width: 400px;
    word-wrap: break-word;
    text-align: center;
}